.background{
    background-color: rgb(255, 225, 225);
}

.video{
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    background-color: rgb(107, 172, 150);
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    width: fit-content;
    text-align: center;
}

.text{
    background-color: rgb(107, 172, 150);
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    width: 80%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.image_list{
    background-color: rgb(246, 247, 211);
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    width: 70%;
    text-align: center;
}

.image,
.top{
    background-color: rgb(218, 248, 220);
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top{
    background-color: rgb(255, 210, 249);
    width: 80%;
}

@media (max_width: 600px){body
    {
       font-size: 18;
       .image_list{
        width: 80%;
       }
    }
}

@media (min_width: 601px){body{
    font-size: 30;
    .image_list{
        width: 60%;
    }
    }
}
