.header{
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    width: 80%;
    text-align: center;

}

@media (max_width: 600px){body{
       font-size: 18;}
}

@media (min_width: 601px){body{font-size: 24;}}

.image{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ace_of_sharks_v3{
    background-color: rgb(107, 172, 150);
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    width: 50%;
    text-align: center;

}

.ace_of_sharks_v1{
    background-color: rgb(103, 141, 206);
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    width: 50%;
    text-align: center;

}

.hhh{
    background-color: rgb(196, 128, 175);
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    width: 50%;
    text-align: center;

}
