.header{
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    width: 80%;
    text-align: center;

}

.image{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ace_of_sharks_v3,
.ace_of_sharks_v1,
.hhh{
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    width: 50%;
    text-align: center;

}

.ace_of_sharks_v3{
    background-color: rgb(107, 172, 150);
}

.ace_of_sharks_v1{
    background-color: rgb(103, 141, 206);

}

.hhh{
    background-color: rgb(196, 128, 175);

}

@media (max_width: 600px){body{
       font-size: 18;
       .ace_of_sharks_v1,
       .ace_of_sharks_v3,
       .hhh{
        width: 80%;
       }

    }
}

@media (min_width: 601px){body{font-size: 30;}}
