.header{
    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    width: 80%;
    text-align: center;

}

.navbar{
    background-color: rgb(215, 174, 255);
    border: 20px solid rgb(215, 174, 255);
    border-radius: 15px;
    margin: 20px auto;
    text-align: center;
    width: fit-content;
    word-spacing: 5em;
}

.image{
    width: 100%;
    height: auto;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}

.ace_of_sharks_v3,
.ace_of_sharks_v1,
.hhh{
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    /* Width defined by @media for desktop vs mobile */
    text-align: center;

}

.ace_of_sharks_v3{
    background-color: rgb(107, 172, 150);
}

.ace_of_sharks_v1{
    background-color: rgb(103, 141, 206);

}

.hhh{
    background-color: rgb(196, 128, 175);

}

@media (max-width: 600px){
    body{font-size: 18;}
    .ace_of_sharks_v1,
    .ace_of_sharks_v3,
    .hhh{
        width: 80%;
        height: auto;
    }
}

@media (min-width: 601px){
    body{font-size: 30;}
    .ace_of_sharks_v1,
    .ace_of_sharks_v3,
    .hhh{
        width: 50%;
        height: auto;
    }
}
