.thefour{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    background-color: rgb(223, 243, 255);
    border: 20px solid rgb(223, 243, 255);
    border-radius: 15px;
    margin: 20px auto;
    word-spacing: 5em;
    text-align: center;
    width: fit-content;
}

@media (max_width: 600px){body{
       font-size: 18;}
}

@media (min_width: 601px){body{font-size: 30;}}

.header{
    background-color: rgb(108, 194, 223);
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    width: 80%;
    text-align: center;

}

.heart{
    background-color: rgb(223, 108, 108);
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    width: 80%;
    text-align: center;

}

.divide{
    background-color: rgb(161, 161, 161);
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    width: 80%;
    text-align: center;

}

.jesus{
    background-color: rgb(242, 255, 147);
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    width: 80%;
    text-align: center;

}

.question{
    background-color: rgb(134, 199, 157);
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    width: 80%;
    text-align: center;

}

.choice{
    background-color: rgb(200, 176, 219);
    padding: 10px;
    border-radius: 10px;
    margin: 30px auto;
    width: fit-content;
    text-align: center;
}
